.btn-subscribe{
  font-size: 15px;
  height: 20px;
  width: 80px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
}

.size-double{
  font-size: 30px;
  height: 40px;
  width: 160px;
}